body { 
    font-family: sans-serif; 
    background-color: #333; 
    color: white; 
    display: flex; 
    justify-content: center; 
    margin-top: 100px;
}

.container { 
    background-color: #444; 
    padding: 20px; 
    border-radius: 8px; 
    text-align: center;
}

input { 
    padding: 10px; 
}

button { padding: 10px 20px; 
    background-color: orange; 
    border: none; 
    cursor: pointer; 
    color: white; 
    font-weight: bold;
}